{% extends "base.html" %}
{% load i18n static %}

{% block title %}
<title>{{ title }}</title>
{% endblock %}

{% block main %}
<h1 class="fw-bold fs-4 border-bottom border-dark border-2">
    {% translate 'Delete sample' %} {{ object }}
</h1>
<form method="post">{% csrf_token %}
    <p>{% translate 'Are you sure you want to delete' %} "{{ object }}"?</p>
    <input class="btn btn-danger" type="submit" value="Confirm">
    <a href="{% url 'sample_list' %}" class="btn btn-secondary">
        {% translate 'Return' %}
    </a>
</form>
{% endblock %}